<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="index_files/xonomy/xonomy.css"/>
	<script type="text/javascript" src="index_files/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="index_files/xonomy/xonomy.js"></script>
	<script type="text/javascript">
		var databasePost = "database/post/";

		function save(htmlID) {
			var xml = Xonomy.harvest();
			var $xml = $(xml);
			var url = databasePost + $xml.attr("name") + ".xml";
			var postData = "xml=" + xml;

			$.post(url, postData, function (message) {
				$("#messages").html("<span>" + message + "</span>");
			}).fail(function(_, message) {
				$("#messages").html("<span style='color: red;'>" + message + "</span>");
			});
		}
		
		function load(htmlID) {
			$.get("url", function (message) {
				// TODO
				console.log("TODO");
			}).fail(function(_, message) {
				$("#messages").html("<span style='color: red;'>" + message + "</span>");
			});
		}
		
		function newObject(htmlID) {
			return Xonomy.newElementChild(htmlID, "<object name=''/>");
		}
		
		function newProof(htmlID) {
			return Xonomy.newElementChild(htmlID, "<proof/>");
		}
		
		function newDeduction(htmlID) {
			return Xonomy.newElementChild(htmlID, "<object name=''><object name='forall'/><object name='parameters'/><object name='conditions'/><object name='implies'/><object name='conclusions'/></object>");
		}
		
		function newApplication(htmlID) {
			return Xonomy.newElementChild(htmlID, "<object name=''><object name='apply'/><object name='rule'/><object name='on'/><object name='condition'/></object>");
		}
		
		function newBinding(htmlID) {
			return Xonomy.newElementChild(htmlID, "<object name=''>TODO</object>");
		}
		
		function newSubstitution(htmlID) {
			return Xonomy.newElementChild(htmlID, "<object name=''>TODO</object>");
		}
		
		function isReference(jsElement, name) {
			return jsElement.children.length == 0
				&& (!name || name === jsElement.getAttributeValue("name"));
		}
		
		function isForallSymbol(jsElement) {
			return isReference(jsElement, "forall");
		}
		
		function isImpliesSymbol(jsElement) {
			return isReference(jsElement, "implies");
		}
		
		function isEqualSymbol(jsElement) {
			return isReference(jsElement, "=");
		}
		
		function isDeduction(jsElement) {
			return jsElement.children.length == 5
				&& isForallSymbol(jsElement.children[0])
				&& isImpliesSymbol(jsElement.children[3]);
		}
		
		function isRule(jsElement) {
			return jsElement.children.length == 3
				&& isImpliesSymbol(jsElement.children[1]);
		}
		
		function isEquality(jsElement) {
			return jsElement.children.length == 3
				&& isEqualSymbol(jsElement.children[1]);
		}
		
		var jse;
		
		function start() {
			var specification = {
				elements: {
					"object": {
						menu: [{
							caption: "Save...",
							action: save,
							hideIf: function(jsElement){ return jsElement.parent(); }
						}, {
							caption: "Load...",
							action: load,
							hideIf: function(jsElement){ return jsElement.parent(); }
						}, {
							caption: "Add object",
							action: newObject,
						}, {
							caption: "Add proof",
							action: newProof,
							hideIf: function(jsElement){ return jsElement.hasChildElement("proof"); }
						}, {
							caption: "Delete",
							action: Xonomy.deleteElement,
							hideIf: function(jsElement){ jse = jsElement; return !jsElement.parent(); }
						}],
						attributes: {
							"name": {
								asker: Xonomy.askString
							}
						}

					},
					"proof": {
						menu: [{
							caption: "Add deduction",
							action: newDeduction,
						}, {
							caption: "Add application",
							action: newApplication,
						}, {
							caption: "Add binding",
							action: newBinding,
						}, {
							caption: "Add substitution",
							action: newSubstitution,
						}, {
							caption: "Delete",
							action: Xonomy.deleteElement,
						}]
					}
				}
			};

			var xml = "<object name='root'><object name='forall'/><object name='root.parameters'/><object name='root.conditions'/><object name='implies'/><object name='root.conclusions'/></object>";
			var editor = document.getElementById("editor");
			
			Xonomy.render(xml, editor, specification);
		}

		function clearMessages() {
			$("#messages").empty();
		}
	</script>
</head>
<body onload="start()">
<div id="editor"></div>
<hr>
<table style="width:100%">
	<tr>
		<td>
			<div id="messages"></div>
		</td>
		<td style="width:5%">
			<a href="javascript:void(0);" onclick="clearMessages()">x</a>
		</td>
	</tr>
</table>
<hr>
<footer>
This website uses <a href="http://lexiconista.com/xonomy/">Xonomy</a>
</footer>
</body>
